= search_form_for @q, builder: SimpleForm::FormBuilder, url: @component.path, html: { data: { :'filters-form' => true } } do |form|

  - if Para::SeoTools.handle_subdomain
    .flextable-item
      = form.input_field :subdomain_eq, as: :selectize, collection: Para::SeoTools::Page.available_subdomains, class: 'form-control', placeholder: t('para.seo_tools.pages.subdomain')

  - if @available_locales.length > 1
    .flextable-item
      = form.input_field :locale_eq, as: :selectize, collection: @available_locales, class: 'form-control', placeholder: t('para.seo_tools.pages.choose_locale')
      
  .flextable-item.flextable-primary
    .input-group.filter-form
      = form.input_field :identifier_or_path_or_title_or_description_or_keywords_or_canonical_cont, as: :string, placeholder: t('para.shared.search'), class: 'form-control'
      .input-group-btn
        %button.btn{ type: 'submit' }
          = fa_icon 'search'
