= para_form_for(resource) do |form|
  = form.fieldset do
    = form.input :path, disabled: true

    = meta_tag_input form, :title
    = meta_tag_input form, :description
    = meta_tag_input form, :keywords

  = form.fieldset title: t('para.seo_tools.pages.additional_meta_tags') do
    = meta_tag_input form, :image, as: :image
    = meta_tag_input form, :canonical

  = form.actions
