= para_form_for(resource) do |form|
  = form.fieldset do
    = form.input :path, disabled: true

    = render partial: 'meta_tag_fields', locals: { form: form, name: :title }
    = render partial: 'meta_tag_fields', locals: { form: form, name: :description }
    = render partial: 'meta_tag_fields', locals: { form: form, name: :keywords }

  = form.fieldset title: :foo do
    = render partial: 'meta_tag_fields', locals: { form: form, name: :image, input_options: { as: :image } }
    = render partial: 'meta_tag_fields', locals: { form: form, name: :canonical }

  = form.actions
