= resources_table(model: model, component: component) do |table|
  = table.header do
    = table.header_for(:path)
    = table.header_for(:meta_title)
    = table.header_for(:meta_description)

  = table.rows(resources) do |resource|
    = table.data_for(resource, :path)
    = table.data_for(resource.meta_tags.try(:meta_title))
    = table.data_for(resource.meta_tags.try(:meta_description))
