= resources_table(model: model, component: component, actions: false) do |table|
  = table.header do
    = table.header_for(:subdomain, sort: :subdomain) if Para::SeoTools.handle_subdomain
    = table.header_for(:path)
    = table.header_for(:title)
    = table.header_for(:description)
    = table.header_for(:locale) if @available_locales.length > 1
    %th.table-row-actions

  = table.rows(resources) do |resource|
    = table.data_for(resource.subdomain) if Para::SeoTools.handle_subdomain
    = table.data_for(resource, :path)
    = table.data_for(resource.meta_tag(:title))
    = table.data_for(resource.meta_tag(:description))
    = table.data_for(resource, :locale) if @available_locales.length > 1

    %td.table-row-actions
      = table.edit_button(resource)

      = link_to resource.path, target: '_blank', class: 'btn btn-sm btn-icon-default btn-shadow hint--left', aria: { label: t('para.seo_tools.pages.see_in_app') } do
        = fa_icon 'eye'
